body{
  background-color: #141518;
}
button{
  float:left;
}
#folders{
  display: inline-block;
  float: left;
}
.folder{
  background-color:#2c2f34;
  border-color:#000000;
  border-style: solid;
  border-width: 5px;
  border-radius: 3px 3px 0 0;
  display: inline-block;
  float: left;
}
.favorite{
  border-style: solid;
  border-radius: 3px 3px 0 0;
  border-color:white;
  border-width: 5px;
  display: inline-block;
  float: left;
}
